@model E_Ticaret_Programi.Models.Cart
<style>
    #cart {
        color: white;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">
    <li id="cart" class="nav-item active">
        <a class="nav-link" href="/Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@Model.CartLines.Count)
        </a>
    </li>
</ul>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>